ion-header{
  --ion-background-color:rgb(22, 98, 89);
}

.button1 {
 
  --border-radius: 30%;
  --vertical-align: middle;
  --padding-start: 4px;
  --padding-end: 4px;
  --background: rgb(129, 245, 218);
 
  --background-activated: green;
  --color: rgb(27, 26, 26);
  --color-activated: white;
 
}
.button2 {
 
  --border-radius: 30%;
  --vertical-align: middle;
  --padding-start: 21px;
  --padding-end: 21px;
  --background: rgb(129, 245, 218);
 
  --background-activated: green;
  --color: rgb(27, 26, 26);
  --color-activated: white;
 
}
.searchbar{
  --background:rgb(241, 241, 241);
}


ion-content{
  --ion-background-color:rgb(35, 160, 133);

  } 
  
  .already{
    color: white;
  }

  ion-footer{
    text-align: center;
    color: black;
    background-color: rgb(150, 250, 243);
  }