<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Create Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="createForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Restaurant</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">My Review</ion-label>
        <ion-input formControlName="review" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rating</ion-label>
        <ion-input formControlName="vote" type="number" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Create Review</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>