h1{
    text-align: center;
}
ion-content{
    --ion-background-color:rgb(236, 240, 198);
}

p{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

ion-footer{
    text-align: center;
    color: black;
  }