ion-content{
    --ion-background-color:rgb(236, 240, 198);
} 

.bold{
    font-weight: bold;
}
#submit{
    --background:rgb(164, 59, 85);
    color: goldenrod;
}
.results{
     color: brown;
     font-size: xx-small;
}